<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6" routerLink="/home">
    <img src="../../../assets/icons/des-sports.png" width="40" height="40" alt="">
    Le Club Sportif</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
    data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/futurcoach" class="nav-link px-2 text-white">Devenir Coach</a></li>
    <li><a routerLink="/contact" class="nav-link px-2 text-white">Contacts</a></li>
    <li><a routerLink="/futurclub" class="nav-link px-2 text-white">Ouvrir un Club</a></li>
    <li><a routerLink="/questions" class="nav-link px-2 text-white">FAQs</a></li>
    <li><a routerLink="/recrutement" class="nav-link px-2 text-white">Recrutement</a></li>
  </ul>
  <div class="text-end">
    <button type="button" class="btn btn-outline-light me-2">Login</button>
    <button type="button" class="btn btn-warning">Sign-up</button>
  </div>
</header>