<div class="container components-list__content container--padding-t-50 text--t-center">
  <div class="row parent-activity components-list__cards js-parent-show-more" data-showmore="2" data-minshow="8">
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/abdos-fessiers2.jpeg" alt="abdos-fessiers">
          <h3 class="in_picture__title text--uppercase">Abdos-fessiers</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/aerobic.webp" alt="Aérobic">
          <h3 class="in_picture__title text--uppercase">Aérobic</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/boxe-1.jpeg" alt="boxe">
          <h3 class="in_picture__title text--uppercase">Boxe</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/cardio-training2.jpeg" alt="Cardio training">
          <h3 class="in_picture__title text--uppercase">Cardio training</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/functionnal-training2.jpeg"
            alt="Functional training">
          <h3 class="in_picture__title text--uppercase">Functional training</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture wellness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/dieteticien2.jpeg" alt="Diététicien">
          <h3 class="in_picture__title text--uppercase">Diététicien</h3>
          <p class="in_picture__pastille">Wellness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/detente2.webp" alt="Détente">
          <h3 class="in_picture__title text--uppercase">Détente</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/danse2.jpeg" alt="Danse">
          <h3 class="in_picture__title text--uppercase">Danse</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/musculation2.webp" alt="Musculation">
          <h3 class="in_picture__title text--uppercase">Musculation</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/small-group-training2.jpeg"
            alt="Small group training">
          <h3 class="in_picture__title text--uppercase">Small group training</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/running2.jpeg" alt="Running">
          <h3 class="in_picture__title text--uppercase">Running</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture wellness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/osteopathe2.jpeg" alt="Ostéopathe">
          <h3 class="in_picture__title text--uppercase">Ostéopathe</h3>
          <p class="in_picture__pastille">Wellness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/velo-1.png" alt="Vélo">
          <h3 class="in_picture__title text--uppercase">Vélo</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/step-1.jpeg" alt="Step">
          <h3 class="in_picture__title text--uppercase">Step</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture fitness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/gym-douce.jpeg" alt="Gym douce">
          <h3 class="in_picture__title text--uppercase">Gym douce</h3>
          <p class="in_picture__pastille">Fitness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture wellness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/yoga.jpeg" alt="Yoga">
          <h3 class="in_picture__title text--uppercase">Yoga</h3>
          <p class="in_picture__pastille">Wellness</p>
        </a>
      </div>
    </div>
    <div class="list__cards__item col-lg-3 col-6">
      <div class="in_picture wellness">
        <div class="overlay"></div>
        <a routerLink="/activites">
          <img class="in_picture__opacity" src="../../../assets/images/pilates.png" alt="Pilates">
          <h3 class="in_picture__title text--uppercase">Pilates</h3>
          <p class="in_picture__pastille">Wellness</p>
        </a>
      </div>
    </div>
  </div>
</div>