<div class="container">

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <div class="col">
      <div class="card shadow-sm">
        <h2>Formule Basic</h2>
        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
          src="../../../assets/images/halteres-musculation.jpg" alt="">

        <div class="card-body">
          <div class="card-text">
            <div class="subscription-tiles__sub-pricing">

              <p>
                Engagement
                <strong>12
                  <span>mois</span></strong>
              </p>
              <p class="subscription-tiles__sub-pricing-small">
                Report abonnement jusqu'à
                <strong>30 jours</strong> <span class="word-mobile">inclus</span>
              </p>
              <p>
                Pack de démarrage :
                <!----> <span class="subscription-tiles__no-line">
                  60<sub>€</sub></span>**
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">Voir Plus</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <h2>Formule Premium</h2>
        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
          src="../../../assets/images/courscollectif.jpeg" alt="">

        <div class="card-body">
          <div class="card-text">
            <div class="subscription-tiles__sub-pricing">
              <p>
                Engagement
                <strong>27
                  <span>mois</span></strong>
              </p>
              <p class="subscription-tiles__sub-pricing-small">
                Report abonnement jusqu'à
                <strong>90 jours</strong> <span class="word-mobile">inclus</span>
              </p>
              <p>
                Pack de démarrage :
                <!----> <span class="subscription-tiles__no-line">
                  60<sub>€</sub></span>**
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">Voir Plus</button>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card shadow-sm">
        <h2>Formule VIP</h2>
        <img class="bd-placeholder-img card-img-top" width="100%" height="225"
          src="../../../assets/images/coachsport.jpeg" alt="">

        <div class="card-body">
          <div class="card-text">
            <div class="subscription-tiles__sub-pricing">
              <p>
                Engagement
                <strong>27
                  <span>mois</span></strong>
              </p>
              <p class="subscription-tiles__sub-pricing-small">
                Report abonnement jusqu'à
                <strong>90 jours</strong> <span class="word-mobile">inclus</span>
              </p>
              <p>
                Pack de démarrage :
                <!----> <span class="subscription-tiles__no-line">
                  60<sub>€</sub></span>**
              </p>
            </div>
          </div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <button type="button" class="btn btn-warning">Voir Plus</button>
            </div>

          </div>
        </div>
      </div>
    </div>


  </div>
</div>